{{#partial "content"}}
    <h3>Key</h3>
    <div>
        <img class="img-fluid stat" src="/images/power.png" alt="">
        <span>Special Power</span>
        <img class="img-fluid stat" src="/images/move.png" alt="">
        <span>Special Move</span>
        <img class="img-fluid stat" src="/images/weapon.png" alt="">
        <span>Weapon</span>
        <img class="img-fluid stat" src="/images/weakness.png" alt="">
        <span>Weakness</span>
    </div>
<!--    Hero at certain id details-->
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mt-5 mx-auto">
            <div class="card h-100 mx-auto">
                <div class="top">
                    <img class="rounded-circle" src="/images/herop.png" alt="">
                </div>
                <h3 class="fw-bolder name text-center">{{heroes.name}} ({{heroes.age}})</h3>
                <h4 class="text-center">Stats</h4>
                <div class="mb-2 ms-5 ">
                    <img class="img-fluid stat" src="/images/power.png" alt="">
                    <span>Special Power:  {{heroes.power}}</span>
                </div>
                <div class="mb-2 ms-5">
                    <img class="img-fluid stat" src="/images/move.png" alt="">
                    <span> Special Move:  {{heroes.move}}</span>
                </div>
                <div class="mb-2 ms-5">
                    <img class="img-fluid stat" src="/images/weapon.png" alt="">
                    <span>{{heroes.weapon}}</span>
                </div>
                <div class="mb-2 ms-5">
                    <img class="img-fluid stat" src="/images/weakness.png" alt="">
                    <span>{{heroes.weakness}}</span>
                </div>

                <div class="buttons p-4">
                    <a href="/hero/{{heroes.id}}/update"><button class="btn btn1 ">update</button></a>
                    <button class="btn btn2">delete</button>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}