{{#partial "content"}}

    <div class="row herorow mb-5">
        <div class="col-md-4"></div>
    {{#if update}}

        <div class="col-md-4 mt-5 forms">
                <form action="/heroes/{{hero.id}}" method="post">

                    <div class="form-group mb-4">
                        <label for="name" class="fs-4 mb-2">Name:</label>
                        <input type="text" class="form-control" id="name" name="newname" value="{{hero.name}}">
                    </div>
                    <div class="form-group mb-4">
                        <label for="author" class="fs-4 mb-2">Age:</label>
                        <input type="number" class="form-control" id="age" name="newage" value="{{hero.age}}">
                    </div>
                    <div class="form-group mb-4">

                        <label for="name" class="fs-4 mb-2">Power:</label>
                        <input type="text" class="form-control" id="power" name="newpower" value="{{hero.power}}">
                    </div>
                    <div class="form-group mb-4">

                        <label for="name" class="fs-4 mb-2">Move:</label>
                        <input type="text" class="form-control" id="move" name="newmove" value="{{hero.move}}">
                    </div>
                    <div class="form-group mb-4">

                        <label for="name" class="fs-4 mb-2">Weapon:</label>
                        <input type="text" class="form-control" id="weapon" name="newweapon" value="{{hero.weapon}}">
                    </div>

                    <div class="form-group mb-4">
                        <label for="">Squad:</label>
                        <select name="squadid" class="form-control" id="squadid">
                            {{#each squad}}
                                <option  value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group mb-4">

                        <label for="description" class="fs-4 mb-2">Weakness:</label>
                        <textarea class="form-control" id="weakness" rows="4" name="newweakness" placeholder="{{hero.weakness}}"></textarea>
                    </div>

                    <button class="btn btn-warning d-block mx-auto" type="submit">Update Details</button>
                </form>
        </div>

    {{else}}

        <div class="col-md-4 mt-5 forms">
            {{#if squads}}
                <form action="/heroes" method="post">

                    <div class="form-group mb-4">
                        <label for="name" class="fs-4 mb-2">Name:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group mb-4">
                        <label for="author" class="fs-4 mb-2">Age:</label>
                        <input type="number" class="form-control" id="age" name="age">
                    </div>
                    <div class="form-group mb-4">

                        <label for="name" class="fs-4 mb-2">Power:</label>
                        <input type="text" class="form-control" id="power" name="power">
                    </div>
                    <div class="form-group mb-4">

                        <label for="name" class="fs-4 mb-2">Move:</label>
                        <input type="text" class="form-control" id="move" name="move">
                    </div>
                    <div class="form-group mb-4">

                        <label for="name" class="fs-4 mb-2">Weapon:</label>
                        <input type="text" class="form-control" id="weapon" name="weapon">
                    </div>

                    <div class="form-group mb-4">
                        <label for="">Squad:</label>
                        <select name="squadId" class="form-control" id="squadId">
                            {{#each squads}}
                                <option  value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group mb-4">

                        <label for="description" class="fs-4 mb-2">Weakness:</label>
                        <textarea class="form-control" id="weakness" rows="4" name="weakness"></textarea>
                    </div>

                    <button class="btn btn-warning d-block mx-auto" type="submit">Add Hero</button>
                </form>
            {{else}}
                <p class="fs-3 fw-bolder">Nothing for now  <a class="text-decoration-none" href="/squad/new">Add a squad to continue</a></p>
            {{/if}}
        </div>

    {{/if}}

        <div class="col-md-4"></div>

    </div>
{{/partial}}
{{> layout.hbs}}