{{#partial "content"}}
    <h3 class="text-center">Squads</h3>
       <div class="row row-cols-1 row-cols-md-3 p-5 mt-4 g-4">

           {{#if squads}}

           {{#each squads}}
               <div class="col">
                   <div class="card h-100 squaddisp p-3">
                       <div class="topsquad p-3">
                           <img class="rounded-circle me-5" src="/images/squad.png" alt="">
                           <span class="fw-bolder fs-1 ms-5">{{name}}</span>
                       </div>
                       <p>Size {{maxSize}}</p>
                       <a href="/squads/{{id}}">Details</a>
                       <a href="/squads/{{id}}/update">Update</a>
                       <a href="/squads/{{id}}/delete">delete</a>
                   </div>
               </div>
           {{/each}}
           {{else}}
                   <p>No squads Yet <a href="/squad/new">Add Squad Here...</a></p>
    {{/if}}
       </div>
    <a href="/squad/delete">Delete all</a>
{{/partial}}
{{>layout.hbs}}