{{#partial "content"}}
    <h3 class="text-center">Squads</h3>
       <div class="row row-cols-1 row-cols-md-3 p-5 mt-4 g-4">

           {{#if squads}}

           {{#each squads}}
               <div class="col">
                   <div class="card h-100">
                       <p class="fw-bolder">{{name}}</p>
                       <p>{{maxSize}}</p>
                       <a href="/squads/{{id}}">Details</a>
                       <a href="/squads/{{id}}/update">Update</a>
                       <a href="/squads/{{id}}/delete">delete</a>
                   </div>
               </div>
           {{/each}}
               <a href="/squad/delete">Delete all</a>
           {{else}}
                   <p>No squads Yet <a href="/squad/new">Add Squad Here...</a></p>
    {{/if}}
       </div>
{{/partial}}
{{>layout.hbs}}