{{#partial "content"}}
    <div class="row squadrow">
        <h1 class="text-center mt-2 sqhead fw-bolder text-decoration-underline">Squad {{squad.name}}</h1>
        <h3 class="ms-4 sqdetail">Squad Size : <span class="text-dark">{{squad.maxSize}}</span></h3>
        <h3 class="ms-4 sqdetail">Squad Cause: <span class="text-dark">{{squad.cause}}</span></h3>
        <h3 class="sqherodetail text-center fw-bolder text-decoration-underline">Heroes in squad</h3>
        <div class="row row-cols-1 row-cols-md-3 p-5">
            {{#each heroes}}
                <div class="col">
                    <div class="card mx-auto herocard p-3">

                        <div class="topprof">
                            <img class="rounded-circle profile me-4" src="/images/herop.png" alt="">
                            <h3 class="fw-bolder heroname text-center ms-5">{{name}}</h3>
                        </div>
                        <a class="text-decoration-none" href="/squads/{{squad.id}}/heroes/{{id}}"><button class="btn btn1 d-block mx-auto ">details</button></a>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>
{{/partial}}
{{> layout.hbs}}