{{#partial "content"}}
        <h3>{{squad.name}}</h3>
        <h6>Heroes in this squad</h6>
        <ul>
        {{#each heroes}}
        <li>
                <p>{{name}}</p>
            <a href="/squads/{{squad.id}}/heroes/{{id}}">Details</a>

        {{/each}}
        </li>
        </ul>
        <a href="/squads/{{squad.id}}/heroes/delete">Remove all heroes from squad</a>
{{/partial}}
{{> layout.hbs}}